/*rounded_rect*/
.rounded_rect {
  background: transparent;
  color: #101010;
  overflow: hidden;
  border-color: #bbb;
}
.text_view .text, .rounded_rect .text, .circle_rect .text, .mtooltip .text {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}
.text_view .text p, .rounded_rect .text p, .circle_rect .text p, .mtooltip .text p {
  padding: 0;
  margin-bottom: 5px;
  white-space: pre-wrap;
}
.text_view .text p:last-child, .rounded_rect .text p:last-child, .circle_rect .text p:last-child, .mtooltip .text p:last-child {
  margin-bottom: 0;
}
/* 使用flex的元素 */
.label, .button, .text_view, .rounded_rect, .circle_rect, .mtooltip {
  display: -webkit-box;
  display: flex;
}
.label.hleft, .button.hleft, .text_view.hleft, .rounded_rect.hleft, .circle_rect.hleft, .mtooltip.hleft {
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.label.hcenter, .button.hcenter, .text_view.hcenter, .rounded_rect.hcenter, .circle_rect.hcenter, .mtooltip.hcenter {
  -webkit-box-pack: center;
  justify-content: center;
}
.label.hright, .button.hright, .text_view.hright, .rounded_rect.hright, .circle_rect.hright, .mtooltip.hright {
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.label.vtop, .button.vtop, .text_view.vtop, .rounded_rect.vtop, .circle_rect.vtop, .mtooltip.vtop {
  -webkit-box-align: start;
  align-items: flex-start;
}
.label.vmiddle, .button.vmiddle, .text_view.vmiddle, .rounded_rect.vmiddle, .circle_rect.vmiddle, .mtooltip.vmiddle {
  -webkit-box-align: center;
  align-items: center;
}
.label.vbottom, .button.vbottom, .text_view.vbottom, .rounded_rect.vbottom, .circle_rect.vbottom, .mtooltip.vbottom {
  -webkit-box-align: end;
  align-items: flex-end;
}
/*widget*/
.widget.line {
  pointer-events: none;
}
.widget.line svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}
.widget.line svg > path {
  -webkit-transition: inherit;
  transition: inherit;
}
/*rich_text*/
.rich_text {
  display: -webkit-box;
  display: flex;
  background: transparent;
  color: #101010;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}
.rich_text.auto {
  white-space: pre;
  overflow: visible;
}
.rich_text .rich-text {
  width: 100%;
}
.rich_text.vtop {
  -webkit-box-align: start;
  align-items: flex-start;
}
.rich_text.vmiddle {
  -webkit-box-align: center;
  align-items: center;
}
.rich_text.vbottom {
  -webkit-box-align: end;
  align-items: flex-end;
}
.rich_text p:last-child {
  margin-bottom: 0 !important;
}
/*image_view*/
.image_view {
  z-index: 3;
  overflow: hidden;
  color: #bec2c9;
  border-style: solid;
}
.image_view.highlight span, .image_view.highlight .wrapper {
  opacity: 0.5;
}
/*image-wrapper*/
.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}
.image-wrapper span {
  background: #e8e8e8;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: inherit;
}
.image-wrapper span i {
  font-size: 26px;
}
.image-wrapper span .icon {
  color: #8d9ea7;
}
.image-wrapper .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}
.image-wrapper .wrapper img {
  width: 100%;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  pointer-events: none;
}
/*wrapper*/
.tab_item .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.tab_item .wrapper .text {
  white-space: nowrap;
  margin-top: 2px;
  line-height: 1;
}
/*card*/
.card{
  display: flex;
  width: 90%;
  height: 400px;
  padding: 5%;
}
.card .card_info{
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
}
.card .card_img{
  display: flex !important;
  width: 50% !important;
}
.card_img .image-wrapper .wrapper{
  top:auto !important;
  left: auto !important;
  margin: 3%;
  margin-bottom: 0px
}

/*bottom*/
.bottom{
  /*top: 1500px;*/
  width: 100%;
  height: 321px;
  position: absolute;
  background-color: rgb(45, 45, 45);
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.bottom .bottom_clo{
  width: 30%;
  margin-left: 2%;
  margin-top: 30px;
  display: inline-block;
  vertical-align:top;
}
.bottom_clo p{
  line-height:0;
  margin-bottom:5px;
  text-align: left;

}
.bottom_clo p > span{
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  letter-spacing:0px;
  line-height:20px;
  text-decoration:none;
}
/*circle_rect*/
.circle_rect {
  background: transparent;
  color: #101010;
  overflow: hidden;
  border-color: #bbb;
  border-radius: 100%;
}
.rounded_rect, .circle_rect {
  background: white;
}
.contact_coin{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-color: rgb(227, 227, 227);
  border-width: 1px;
  border-style: solid;
  margin-right: 2%
}
