<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>message</title>
	<style>
		*{margin: 0;padding: 0; position: absolute}
		body{transform: scale(1.2);}
	</style>
</head>

<body style="background-color: #F1F1F1">
	
	<div style="float: left; width: 700px; height: 1000px">
		<div style="height: 500px; width:700px;
					background-color: white">
			<div id="top_line">
				<h3 style="margin-left: 20px; margin-top: 5px;width: 120px">消息列表</h3>
				<hr style="margin-top: 30px;margin-left: 15px; width:670px"/>
				<p style="margin-left: 40px;margin-top: 40px"><font size="-2"><b style="width: 80px">消息来源</b></font></p>
				<p style="margin-left: 140px;margin-top: 40px"><font size="-2"><b style="width: 80px">消息内容</b></font></p>
				<p style="margin-left: 540px;margin-top: 40px"><font size="-2"><b style="width: 80px">时间</b></font></p>
				<p style="margin-left: 620px;margin-top: 40px"><font size="-2"><b style="width: 80px">操作</b></font></p>
				<hr style="margin-top: 60px;margin-left: 15px; width:670px"/>
			</div>
			<div id="mess_line" style="margin-top: 60px;font-size:10px">
				<div id="message">
					<hr style="margin-top: 45px;margin-left: 15px; width: 670px"/>
					<div style="margin-left: 40px;margin-top: 15px;width: 80px">消息来源</div>
					<p style="margin-left: 140px;margin-top: 15px;width: 400px">
						XXXXXXXXX项目捐赠意向单已审核通过！请尽快补充物流信息吧！
					</p>
					<p style="margin-left: 540px;margin-top: 15px;width: 80px">2020-06-10</p>
					<p style="margin-left: 620px;margin-top: 15px;width: 80px;color: red">删除消息</p>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
